<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
      <div class="row column">
        <br>
        <h5>Men&uacute;</h5>
      </div>
    </div>

    <div class="off-canvas-content" data-off-canvas-content>
      <div class="title-bar hide-for-large">
        <div class="title-bar-left">
          <button class="menu-icon" type="button" data-open="my-info"></button>
          <span class="title-bar-title">Men&uacute;</span>
        </div>
      </div>
      <div class="callout primary">
        <div class="row column">
          <h4><span class="material-icons">settings</span> - Administrar Productos.</h4>
        </div>
      </div>
      <form>
        <div class="row">
          <div class="small-12 medium-6 large-3 columns">
            <label for="IDNombreProducto" class="form__label">Nombre del producto</label>
          </div>
          <div class="small-12 medium-6 large-3 columns">
            <input type="text" class="form__field" [(ngModel)]="selectedProducto.Nombre" placeholder="Nombre del producto" name="InputNombreProducto" id='IDNombreProducto'>
          </div>
          <div class="small-12 medium-6 large-3 columns">
            <label for="IDDescripcion" class="form__label">Descripci&oacute;n del Producto</label>
          </div>
          <div class="small-12 medium-6 large-3 columns">
            <input type="text" class="form__field" [(ngModel)]="selectedProducto.Descripcion" placeholder="Descripci&oacute;n del Producto" name="InputIDDescripcion" id='IDDescripcion'>
          </div>
        </div>
        <div class="row">
          <div class="small-12 medium-6 large-3 columns">
            <label for="IDLaboratorio" class="form__label">Laboratorio</label>
          </div>
          <div class="small-12 medium-6 large-3 columns">
            <input type="text" class="form__field" [(ngModel)]="selectedProducto.Laboratorio" placeholder="Laboratorio" name="InputLaboratorio" id='IDLaboratorio'>
          </div>
          <div class="small-12 medium-6 large-3 columns">
            <label for="IDOrigen" class="form__label">Origen</label>
          </div>
          <div class="small-12 medium-6 large-3 columns">
            <input type="text" class="form__field" [(ngModel)]="selectedProducto.Origen" placeholder="Origen" name="InputOrigen" id='IDOrigen'>
          </div>
        </div>
        <div class="row">
          <div class="small-12 medium-6 large-3 columns">
            <label for="IDFechaVencimiento" class="form__label">Fecha de Vencimiento</label>
          </div>
          <div class="small-12 medium-6 large-3 columns">
            <input type="text" class="form__field" [(ngModel)]="selectedProducto.Fecha_Vencimiento" placeholder="Fecha de Vencimiento" name="InputFechaVencimiento" id='IDFechaVencimiento'>
          </div>
          <div class="small-12 medium-6 large-3 columns">
            <label for="IDPrecio" class="form__label">Precio</label>
          </div>
          <div class="small-12 medium-6 large-3 columns">
            <input type="text" class="form__field" [(ngModel)]="selectedProducto.Precio" placeholder="Precio" name="InputPrecio" id='IDPrecio'>
          </div>
        </div>
        <div class="row">
          <div class="small-12 medium-6 large-3 columns">
            <label for="IDVigente" class="form__label">Vigente</label>
          </div>
          <div class="small-12 medium-6 large-3 columns">
            <input type="text" class="form__field" [(ngModel)]="selectedProducto.Vigente" placeholder="Vigente" name="InputVigente" id='IDVigente'>
          </div>
          <div class="small-12 medium-6 large-3 columns"></div>
          <div class="small-12 medium-6 large-3 columns"></div>
        </div>
      </form>

      <hr>
      <div class="row">
        <div class="small-3 small-centered large-3 columns">
          <button type="button" class="success button" (click)="btn_AgregarOEditar_Click()"><span class="material-icons icon_button">save</span> - Guardar</button>
          <button type="button" class="alert button" *ngIf="selectedProducto.ID !== 0" (click)="btn_Eliminar_Click()"><span class="material-icons icon_button">delete</span> - Eliminar</button>
        </div>
      </div>
      <hr>

      <div class="table-scroll">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre Producto</th>
              <th>Descripci&oacute;n del Producto</th>
              <th>Laboratorio</th>
              <th>Origen</th>
              <th>Fecha de Vencimiento</th>
              <th>Precio</th>
              <th>Vigente</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let Productos of productoArreglo" (click)="tbl_Editar_Click(Productos)" [class.active]="Productos == selectedProducto">
              <td>{{ Productos.ID }}</td>
              <td>{{ Productos.Nombre }}</td>
              <td>{{ Productos.Descripcion }}</td>
              <td>{{ Productos.Laboratorio }}</td>
              <td>{{ Productos.Origen }}</td>
              <td>{{ Productos.Fecha_Vencimiento }}</td>
              <td>{{ Productos.Precio }}</td>
              <td>{{ Productos.Vigente }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>