<div class="conteiner-login">
    <mat-card class="card">
        <mat-card-header>
            <!-- <mat-icon aria-hidden="false" >account_circle</mat-icon> -->
            <!-- <mat-card-title>Shiba Inu</mat-card-title> -->
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Sing In">
                    <br>
                    <div class="flex-conteiner">
                        <form class="form-inline" *ngIf="!authService.getUser()">
                            <div class="flex-column">
                                <form>
                                    <mat-form-field class="example-full-width">
                                        <mat-label for="username">Usuario:</mat-label>
                                        <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="admin@example.com" name="username" #username>
                                        <mat-hint>Errores instantaneos!</mat-hint>
                                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                            Por favor ingrese un usuario valido.
                                        </mat-error>
                                        <mat-error *ngIf="emailFormControl.hasError('required')">
                                            Usuario es <strong>requerido</strong>.
                                        </mat-error>
                                    </mat-form-field>
                                </form>
                            </div>
                            <div class="flex-column">
                                <form [formGroup]="signin">
                                    <mat-form-field for="password">
                                        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required name="password" #password>
                                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        <mat-hint *ngIf="!passwordInput.value">Ingrese su contrase&ntilde;a</mat-hint>
                                    </mat-form-field>
                                </form>
                            </div>
                            <div class="flex-column" style="padding-top: 15%">
                                <button mat-raised-button (click)="login(username.value, password.value)">Ingresar</button>
                                {{mensajeError}}
                            </div>
                        </form>
                    </div>
                    <div class="flex-conteiner">
                        <div class="flex-column">
                            <div class="flex-row" style="padding: 15px">
                                <button mat-raised-button (click)="logout()" *ngIf="authService.getUser()" align="center">Salir</button>
                            </div>
                        </div>
                    </div>
                    <!-- <form class="form-inline" *ngIf="!authService.getUser()">
                        <div class="form-group">
                            <label for="username">User (type <em>user</em>)</label>
                            <input class="form-control" name="username" #username>
                        </div>
                        <div class="form-group">
                            <label for="password">Password (type <em>password</em>)</label>
                            <input class="form-control" name="password" #password>
                        </div>
                        <a class="btn btn-default" (click)="login(username.value, password.value)">Entrar!</a>
                        {{mensajeError}}
                    </form>
                    <a class="btn btn-default" (click)="logout()" *ngIf="authService.getUser()">Salir!</a> -->
                </mat-tab>
                <mat-tab label="Sing Up">
                    <div class="flex-conteiner">
                        <div class="flex-column">
                            <div class="flex-row" style="padding-top: 15px">
                                <mat-form-field>
                                    <mat-label>Nombre:</mat-label>
                                    <input matInput placeholder="Andres Peres">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex-column">
                            <div class="flex-row">
                                <form>
                                    <mat-form-field>
                                        <mat-label>Usuario:</mat-label>
                                        <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="admin@example.com">
                                        <mat-hint>Errores instantaneos!</mat-hint>
                                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                            Por favor ingrese un usuario valido.
                                        </mat-error>
                                        <mat-error *ngIf="emailFormControl.hasError('required')">
                                            Usuario es <strong>requerido</strong>.
                                        </mat-error>
                                    </mat-form-field>
                                </form>
                            </div>
                        </div>
                        <div class="flex-column">
                            <div class="flex-row">
                                <form [formGroup]="signin">
                                    <mat-form-field>
                                        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
                                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        <mat-hint *ngIf="!passwordInput.value">Ingrese su contrase&ntilde;a</mat-hint>
                                    </mat-form-field>
                                </form>
                            </div>
                        </div>
                        <div class="flex-column">
                            <div class="flex-row" style="padding: 15px">
                                <button mat-raised-button>Registrar</button>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>
<button (click)="NavegarHaciaAdministrarProductos()">Administrar productos</button>