<div class="conteiner-login">
    <mat-card class="card">
        <mat-card-header>
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Iniciar Sesi&oacute;n">
                    <br>
                    <form class="form-inline" *ngIf="!authService.getUser()">
                        <div class="flex-conteiner">
                            <div class="flex-row">
                                <div class="flex-column">
                                    <form style="width: 61%">
                                        <mat-form-field class="example-full-width">
                                            <mat-label for="username">Usuario:</mat-label>
                                            <input matInput id="oficialUsuario" [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="admin@example.com" name="username" #username>
                                            <mat-hint>Errores instantaneos!</mat-hint>
                                            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                                Por favor ingrese un usuario valido.
                                            </mat-error>
                                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                                Usuario es <strong>requerido</strong>.
                                            </mat-error>
                                        </mat-form-field>
                                    </form>
                                </div>
                            </div>
                            <div class="flex-row">
                                <div class="flex-column">
                                    <form [formGroup]="signin">
                                        <mat-form-field for="password">
                                            <input matInput id="oficialPassword" placeholder="Contras&ntilde;a" [type]="hide ? 'password' : 'text'" formControlName="password" required name="password" #password>
                                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            <mat-hint *ngIf="!passwordInput.value">Ingrese su contrase&ntilde;a</mat-hint>
                                        </mat-form-field>
                                    </form>
                                </div>
                            </div>
                            <div class="flex-row">
                                <div class="flex-column" style="padding-top: 15.5%">
                                    <button mat-raised-button (click)="inicioDeSesionEmailyContrasena($event)">Ingresar</button>
                                    {{mensajeError}}
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="flex-conteiner">
                        <div class="flex-row">
                            <div class="flex-column" style="padding: 15px">
                                <button mat-raised-button (click)="logout()" *ngIf="authService.getUser()" align="center">Salir</button>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Registrarse">
                    <div class="flex-conteiner">
                        <div class="flex-row">
                            <div class="flex-column" style="padding-top: 15px; width: 61%">
                                <mat-form-field>
                                    <mat-label>Nombre:</mat-label>
                                    <input matInput id="nombreUsuario" placeholder="Andres Peres">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-column">
                                <form style="width: 61%">
                                    <mat-form-field>
                                        <mat-label>Usuario:</mat-label>
                                        <input matInput id="emailUsuario" [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="admin@example.com">
                                        <mat-hint>Errores instantaneos!</mat-hint>
                                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                            Por favor ingrese un usuario valido.
                                        </mat-error>
                                        <mat-error *ngIf="emailFormControl.hasError('required')">
                                            Usuario es <strong>requerido</strong>.
                                        </mat-error>
                                    </mat-form-field>
                                </form>
                            </div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-column">
                                <form [formGroup]="signin">
                                    <mat-form-field>
                                        <input matInput id="passwordUsuario" placeholder="Contras&ntilde;a" [type]="hide ? 'password' : 'text'" formControlName="password" required>
                                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        <mat-hint *ngIf="!passwordInput.value">Ingrese su contrase&ntilde;a</mat-hint>
                                    </mat-form-field>
                                </form>
                            </div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-column" style="padding: 15px">
                                <button mat-raised-button (click)="CrearUsuarioEmailyContrasena($event)">Registrar</button>
                                {{mensajeError2}}
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>
<!-- <button (click)="NavegarHaciaAdministrarProductos()">Administrar productos</button> -->