<div class="container" layout-align="center center">
    <mat-card class="example-card">
        <!-- <mat-icon>medical_services</mat-icon> -->
        <img mat-card-image src="https://i.pinimg.com/originals/4f/60/30/4f60305f48b01e05db6b53083abf71dd.png">
        <mat-card-content>
            <p>
                Bienvenidos a mi p&aacute;gina, para ingresar a ella y registrarse presionar el bot&oacute;n.
            </p>
        </mat-card-content>
        <mat-card-actions class="boton">
            <button mat-button (click)="NavegarHaciaLogin()">ingresar</button>
        </mat-card-actions>
    </mat-card>
</div>