table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 50%;
}

.mat-paginator {
  width: 100%;
}

td, th {
  width: auto;
}

.mat-elevation-z8{
  width: 95%;
  margin: auto;
}

.mat-table{
  width: 100%;
  margin: 0%;
}

.mat-raised-button {
  color: #3f51b5;
}

.center_item {
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
}

.mat-expansion-panel {
  width: 95%;
  margin: auto;
}

.mat-expansion-panel-header-title {
  color: #3f51b5;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.flex-column {
  width: 50%;
  padding-left: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-row-textArea {
  width: 100%;
  padding-left: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.flex-column-button-l {
  width: 49%;
  padding-left: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: right;
  flex-direction: row;
}

.flex-column-button-r {
  width: 50%;
  padding-left: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
